$primary: #c22938;
$light: #fbf5e5;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
